* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.block {
    width: 300px;
    height: 200px;
    border: 2px solid black;
    position: fixed;
    top: 20px;
    left: 0;
    left: 243px;
    top: 128px;

    transition: .1s;
}

.posAbsolute {
    position: absolute;
}

.posInitial {
    position: relative;
}