.wrapper {
    margin: 0 auto;
    max-width: 760px;
    
    height: 80vh;
    background-color: azure;
    position: relative;
}

.heroWrap {
    position: relative;
    height: 100px;
    width: 100px;
}

.heroElement {
    background-color: green;  
    transition: all .4s;
    position: absolute;
}