<section class="features-section">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-4 text-center">
                <div class="heart-block">
                    <h2 class="heart-block__title">Features</h2>
                    <div class="heart-block__heart-dashed-flexbox d-flex align-items-center">
                        <hr class="heart-block__heart-dashed-hr mr-4">
                        <span class="heart-block__heart-dashed-icon"><i class="far fa-heart"></i></span>
                        <hr class="heart-block__heart-dashed-hr ml-4">
                    </div>
                </div>
            </div>
        </div>

        <div class="row features-section__row">
            <div class="col d-flex">
                <div class="features-section__icon-div d-flex justify-content-center
                align-items-center">
                    <span class="features-section__icon"><i class="fas fa-feather"></i></span>
                </div>
                <div class="features-section__text">
                    <h3 class="features-section__text-title">Branding</h3>
                    <p class="features-section__text-paragraph">Sed ut perspiciatis unde omnis iste natus error
                        sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                        eaque ipsa quae ab illo inventore</p>
                </div>
            </div>
            <div class="col d-flex">
                <div class="features-section__icon-div d-flex justify-content-center
                align-items-center">
                    <span class="features-section__icon"><i class="fas fa-pencil-alt"></i></span>
                </div>
                <div class="features-section__text">
                    <h3 class="features-section__text-title">Branding</h3>
                    <p class="features-section__text-paragraph">Sed ut perspiciatis unde omnis iste natus error
                        sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                        eaque ipsa quae ab illo inventore</p>
                </div>
            </div>
            <div class="col d-flex">
                <div class="features-section__icon-div d-flex justify-content-center
                align-items-center">
                    <span class="features-section__icon"><i class="fas fa-pencil-alt"></i></span>
                </div>
                <div class="features-section__text">
                    <h3 class="features-section__text-title">Branding</h3>
                    <p class="features-section__text-paragraph">Sed ut perspiciatis unde omnis iste natus error
                        sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                        eaque ipsa quae ab illo inventore</p>
                </div>
            </div>
        </div>
    </div>
</section>