p {
  color: green; }

ul {
  padding: 20px;
  margin: 20px;
  font-size: 70px; }
  ul li {
    color: green;
    padding: 20px;
    background: yellow; }
  ul li {
    color: green;
    padding: 20px;
    background: yellow; }
  ul li {
    color: green;
    padding: 20px;
    background: yellow; }
